* {
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.controller {
    width: 50%;
    height: 500px;
}

.list {
    width: 50%;
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}