* {
    padding: 0;
    margin: 0;

}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {

        transform: rotateZ(360deg);
    }

}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 500px;
    overflow-y: hidden;
}

.controller {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .box {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin: 10px 0;

        input {
            width: 70%;
            height: 30px;
            padding: 5px 4px;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid gainsboro;
            color: white;
        }

        button {
            cursor: pointer;
            padding: 5px;
            margin-left: 10px;
        }
    }
}

.list {
    width: 50%;
    height: 500px;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-x: hidden;
    padding: 10px;
    margin-top: 0px;

    .li {
        width: 95%;
        height: 30px;
        min-height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 2px 5px;
        margin: 2px 0;
        font-size: medium;

        &>svg {
            animation: rotate 2s linear infinite;
        }
    }
}

audio {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 0 !important;
    background-color: white;
}